/* ————————————————————将页面修改为全宽，且永久生效———————————————————— */


/* 01 设置编辑区域全宽 */
/* 02 设置标题下方背景颜色 */
/* 03 设置标题距离左侧5% */
/* 04 设置图标距离左侧5% */


/* 使用方法：将下面代码取消注释 */
/* 使用缺陷：标题和正文中存在较大间隔 */

/* .protyle .protyle-wysiwyg {
    width: calc(100% - 4cm) !important;
    box-shadow: none;
}

.protyle-content {
    background-color: var(--b3-theme-background);
}

.protyle-title.protyle-wysiwyg--attr {
    width: calc(100% - 4cm) !important;
    padding-left: 0vw !important;
}

.protyle-background .protyle-background__iconw {
    left: 5vw !important;
} */