/* ------------------------------------------------块引用/引用块------------------------------------------------- */
/* 设置引用块格式 */
.protyle-wysiwyg [data-node-id] span[data-type='block-ref'] {
    color: #d71a1b !important;
    border-bottom: 0.1em solid gray;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

/* 为引用块后面增加引用图标 */
.protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::before {
    content: "📑";
    position: relative;
    font-size: 80%;
    top: -0.05em;
    margin-right: 2px;
}

/* .protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover {
    color: var(--b3-theme-primary);
    background-color: var(--b3-theme-hover);
    border-radius: 3px 3px 0 0;
} */



/* 去掉h1-h6标题上块引用的下划线，感谢二群群友123的建议 */
.h1 span[data-type='block-ref'],
.h2 span[data-type='block-ref'],
.h3 span[data-type='block-ref'],
.h4 span[data-type='block-ref'],
.h5 span[data-type='block-ref'],
.h6 span[data-type='block-ref'] {
    border-bottom: 1px solid transparent !important;
}

/* ------------------------------------------------块引用 END------------------------------------------------- */