/* -------------------------------------------------面包屑导航样式-------------------------------------------- */
.protyle-breadcrumb {
    color: gray;
    background-color: white;
    font-size: 14px !important;
    height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 6px;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid var(--b3-border-color);
    border-radius: var(--b3-border-radius-half-round);
}

.protyle-breadcrumb__item svg {
    height: 14px;
    width: 14px;
}

.fn__flex-1.protyle {
    background-color: var(--b3-theme-background2);
}

.protyle-content {
    border-top: var(--b3-border-normal);
    box-shadow: var(--b3-protyle-content-shadow);
}

/* -------------------------------------------------面包屑导航样式 END-------------------------------------------- */